.T-shirts {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 220px;
    margin-left: 30px;
    margin-top: 30px;
}

.T-shirts .product-item img {
    width: 460px;
    transition: transform 0.7s ease;
}

.trouse {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 220px;
    margin-left: 50px;
    margin-top: 30px;
}

.trouse .product-item img {
    width: 460px;
    transition: transform 0.7s ease;
}

.line {
    background-color: black;
    height: 1px;
    margin-bottom: 20px;
}

img:hover {
    transform: scale(1.1);
}

.product-item{
    border: 1px solid rgb(185, 185, 185);
}
.product-name{
    margin-bottom: 20px;
}

.quan{
    margin-top: 50px;
}

.filter{
    background-color: black;
    color: white;
    padding: 5px 21px;
}